 .navbar a{
            color: white;
            text-decoration: none;
            font-weight: 600;
            transition: 0.3s;
        }

        .navbar a:hover{
            color: #ffb6ff;
            text-decoration: underline;
        }